<launch>

  <arg name="map" default="circle"/>

  <!-- Create a static transfrom from map to odom. In the future this will be updated by the localization node. -->
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="10 10 0 0 0 0 map odom 1"/>

  <!-- Launch stage with the specified world file-->
<!--  <node pkg="stage_ros" type="stageros" name="stage" args="$(find snowmower_mapping)/world/$(arg map).world"/> -->

  <!-- Launch rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz"/> -->

  <!-- Launch the mapping node. -->
  <node pkg="snowmower_mapping" type="mapper" name="mapper" output="screen">
    <param name="fileLoc" value="$(find snowmower_mapping)/world/$(arg map)_inside.png" type="str"/>
    <param name="base_frame" value="base_link" type="str"/>
    <param name="map_frame" value="map" type="str"/>
    <param name="radius" value="0.5" type="double"/>
    <param name="ppm" value="5" type="double"/>
    <param name="numCols" value="100" type="int"/>
    <param name="numRows" value="100" type="int"/>
  </node>
</launch>
